<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <label>
    Nombre:
    <input formControlName="name" />
  </label>

  <label>
    Edad:
    <input type="number" formControlName="age" />
  </label>

  <label>
    Nacionalidad:
    <input formControlName="nationality" />
  </label>

  <label>
    Club:
    <input formControlName="club" />
  </label>

  <label>
    Overall:
    <input type="number" formControlName="overall" />
  </label>

  <button type="submit" [disabled]="playerForm.invalid">Guardar</button>
</form>
